/* Update.module.css */

.update {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 8%;
}

.update h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type="text"] {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    transition: border-color 0.3s;
    margin-left: 4rem;
}

input[type="text"]:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.textarea {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    resize: vertical;
    transition: border-color 0.3s;
    width: 100%; /* Ensure it takes up the full width of its container minus padding */
    box-sizing: border-box; /* This will make sure padding is included in the total width */
}


textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

input[type="file"] {
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

p {
    font-size: 1em;
    color: #666;
    margin-top: 20px;
}
